{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Clientes Pendientes</h1>
    <ul class="list-group">
        {% for cliente in clientes %}
        <li class="list-group-item">
            <a href="{% url 'cliente_detail' cliente.id %}">
                {% if task.important %}
                <strong>{{ cliente.nombre }}</strong>
                {% else %}
                {{ cliente.nombre }}
                {% endif %}
                <p>{{ cliente.folio }}</p>
                <p>{{ cliente.user.username }}</p>
                <p>{{ cliente.datecompleted|date:'M j Y:i' }}</p>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
