{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-4">
            <h1 class="text-center display-3 py-5">Clientes Pendientes</h1>

    <ul class="list-group">
        {% for cliente in clientes %}
        <li class="list-group-item">
            <a href="{% url 'cliente_detail' cliente.id %}">
                {% if task.important %}
                <strong>{{ cliente.nombre }}</strong>
                {% else %}
                {{ cliente.nombre }}
                {% endif %}
                <p>{{ cliente.folio }}</p>
                <p>{{ cliente.user.username }}</p>
                <p>{{ cliente.datecompleted|date:'M j Y:i' }}</p>
            </a>
        </li>
        {% endfor %}
        </ul>
        </div>
     </div>
    </div>
</main>    

{% endblock %}
