{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-4">
            <h1 class="text-center display-3 py-5">Ventas</h1>

                <ul class="list-group">
                    {% for venta in ventas %}
                    <a class="list-group-item" href="{% url 'editar_venta' venta.id %}">
                        <header class="d-flex justify-content-between">
                            {% if venta.important %}
                            <h1 class="fw-bold text-success">{{ venta.nombre }}</h1>
                            {% else %}
                            <h1 class="fw-bold">{{ venta.nombre }}</h1>
                            {% endif %}
                            <p>{{ venta.user.username }}</p>
                            <p>id: {{ venta.id }}</p>
                        </header>
                            <p>{{ venta.descripcion }}</p>
                            
                            <p>{{ venta.datecompleted|date:'M j Y:i' }}</p>
                        </a>
                    </a>
                    {% endfor %}
                </ul>    
        </div>
    </div>
</main>

{% endblock %}
